extends admin_layout

block content
    - var uni_fields = Object.keys(unis[0].dataValues)
    - uni_fields = uni_fields.slice(0, uni_fields.length - 2)
    
    script var fields = JSON.parse("#{uni_fields.toString()}");
    
    div(class="admin__wrapper")
        each record in unis
            div(class="elem__wrapper")
                div(class="elem__header")
                    h3= record.id + ": " + record.name
                div(class="elem__body _is_hidden")
                    div(class="elem__body__list")
                        each field in uni_fields
                            table(class="elem__body__listelem")
                                tr
                                    td
                                        b= field
                                tr
                                    td(class="-value-" + record.id + '-' + field,contenteditable="true")= record[field]
                        button(class="button__submit btn btn-success",id=record.id) Сохранить
