extends layout

block content

    table
        tr
            th Name
            th Level
            th Subject
            th USE
            th Bonus
            th Grades
            th Stages
        each record in data.contests
            tr
                td= record.Name
                td= record.Level
                td= record.Subject
                td= record.USE
                td= record.Bonus
                td= record.Grades
                td= record.Stages
